body {
  background-color: #0f0f0f;
  color: var(--color-primary);
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Roboto;
  src: url(Roboto-Bold.ttf);
}
@font-face {
  font-family: noto;
  src: url(NotoSans-Light.ttf);
}
:root {
  --color-primary: white;
}
header {
  padding: 15px 0px 2px 24px;
  height: 52px;
}
#menubar {
  padding-top: 0.2px;
  margin-left: 2px;
}
#menu {
  width: 18px;
  height: 1px;
  background-color: white;
  margin-top: 5px;
}
#head {
  display: flex;
}
#Youtube {
  width: 28px;
  height: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-left: 30px;
}
#naw {
  display: inline-flex;
}
#imagebox {
  display: inline-flex;
  margin-top: 2px;
  cursor: pointer;
}
#imagebox div {
  font-size: 18px;
  font-family: Roboto, arial, sans-serif;
  display: block;
}
#sup {
  font-size: 10px;
  color: gray;
  margin-top: -7px;
  font-family: Roboto, sans-serif, arial;
}
#search {
  margin-left: 13%;
  display: inline-flex;
  width: 45%;
  border: 1px solid hsl(0, 0%, 18.82%);
  border-radius: 30px;
  height: 38px;
  margin-top: -7px;
}
form {
  width: 90%;
}
input {
  height: 35px;
  background-color: transparent;
  border: none;
  /*border-right: 1px solid hsl(0, 0%, 18.82%);*/
  color: white;
  width: 99%;
  outline: none;
}
#search form input::placeholder {
  color: grey;
  text-transform: capitalize;
  font-size: medium;
  padding: 10px 15px;
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
#searchicon {
  width: 20px;
  height: 20px;
  margin: 7px 0px 3px 20px;
}
#searchiconbar {
  height: 95%;
  width: 11%;
  background-color: hsla(0, 0%, 100%, 0.08);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left: none;
  border: 1px solid hsla(0, 0%, 100%, 0.08);
}
#voice {
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 50px;
  margin-left: 14px;
  height: 41px;
  width: 41px;
  margin-top: -7px;
}
#voicesearch {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 11px;
}
#dotmenu {
  cursor: pointer;
  margin-left: 13%;
  margin-top: 2px;
}
#dot {
  width: 3px;
  height: 3px;
  margin-top: 3px;
  background-color: white;
  border-radius: 50px;
}
#signy {
  margin-left: 24px;
  border: 1px solid #3d3d3d;
  border-radius: 40px;
  width: 7%;
  height: 5%;
  display: flex;
  justify-self: flex-end;
  margin-top: -5px;
  cursor: pointer;
}
#signy:hover {
  background-color: #ade8f4;
  backdrop-filter: blur(10%);
  transition: 0.5s;
}
#signy a {
  color: #2793e8;
  margin-left: 8px;
  text-decoration: none;
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
}
#signy img {
  height: 22px;
  width: 21px;
  margin-top: -2px;
}
#signy div {
  padding: 6px 4px 6px 10px;
  display: inline-flex;
}
/*end of header*/
/*header, nav, #maincontent{
  border: 2px solid red;
}*/
header {
  width: 97.5%;
}
header,
nav,
#maincontent {
  position: absolute;
}
nav,
#maincontent {
  top: 60px;
}
#maincontent {
  left: 245px;
}
/*navigation*/
nav {
  padding-top: 20px;
  margin-left: -4px;
  width: 17.4%;
  height: 86%;
  overflow: hidden;
  scrollbar-gutter: stable;
  scrollbar-track-color: red;
  margin-top: -12px;
}
nav:hover {
  overflow: auto;
}
#navigation {
  display: inline-flex;
  padding: 10px 10px 10px 9px;
  width: 88%;
  cursor: pointer;
}
#speech {
  font-family: arial, Roboto, sans-serif;
  margin-left: 12px;
  font-size: 14px;
}
.speech {
  font-size: 18px;
  font-weight: bold;
}
.home {
  background-color: #212121;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block;
}
#navfon {
  font-size: 14px;
  margin-left: 29px;
  font-weight: 500;
  font-family: arial, Roboto, sans-serif;
  color: #f1f1f1;
}
.navfon {
  font-size: 14px;
  margin-left: 29px;
  font-weight: 500;
  padding: 13px 0;
  margin-bottom: -7px;
  font-family: arial, Roboto, sans-serif;
  color: #f1f1f1;
}
#navfonhome {
  font-size: 14px;
  margin-left: 29px;
  font-weight: 500;
  color: #f1f1f1;
  font-family: Roboto, arial, sans-serif;
}
.navbaryou {
  padding: 12px 16px;
  border-bottom: 1px solid #3d3d3d;
  cursor: pointer;
}
#navic {
  margin-left: 2px;
  width: 19px;
  height: 19px;
}
#trend {
  margin-left: 0.4px;
  width: 21px;
  height: 21px;
  margin-top: -6px;
}
#navbar {
  padding: 0px 0px 12px 16px;
  border-bottom: 1px solid hsl(0, 0%, 18.82%);
}
#signx {
  margin-left: 20px;
  margin-right: 77px;
  border: 1px solid #3d3d3d;
  border-radius: 40px;
  height: 35px;
  width: 100px;
}
#signx div {
  display: inline-flex;
  padding: 3px 10px 3px 10px;
  margin-top: 3px;
  margin-left: 6px;
}
#signx:hover {
  background-color: #ade8f4;
  transition: 0.5s;
}
#signx img {
  width: 22px;
  height: 22px;
  margin-left: -5px;
  margin-top: -2px;
}
#signx a {
  margin-left: 6px;
  color: #2793e8;
  font-family: Roboto, arial, sans-serif;
  text-decoration: none;
  font-size: 15px;
}
.navigation:hover {
  background-color: #212121;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
#explore {
  padding: 21px 12px 13px;
  font-size: 16px;
  font-family: arial, Roboto, sans-serif;
}
footer {
  color: grey;
  font-size: 13px;
  font-family: Roboto, arial, sans-serif;
}
/*End of navigation*/
/*main content*/
#maincontent {
  width: 80%;
  /*border: 2px solid red;*/
  margin-top: -8px;
  height: 85%;
  overflow: hidden;
  scrollbar-gutter: stable;
}
#maincontent:hover {
  overflow: auto;
}
#subcontent {
  padding: 0 10px 0 18px;
}
#minicontent {
  margin-top: -9px;
}
#scrollmenu {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
#scrollmenu:hover {
  overflow: auto;
  white-space: nowrap;
}
ul {
  display: inline-flex;
  margin-left: -32px;
  width: 95%;
}
li {
  list-style-type: none;
  background-color: #212121;
  padding: 8px 13px;
  height: 15px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
}
#al {
  background-color: white;
  color: #0f0f0f;
}
#li {
  margin-left: 13px;
  width: auto;
  color: #f1f1f1;
}
#row1 {
  margin-top: 35px;
}
#herotext div {
  margin-left: 89.5%;
  backdrop-filter: blur(50px);
  background-color: #212121;
  padding: 1px 2px;
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  border-radius: 5px;
}
#herotext {
  /*border: 2px solid red;*/
  padding-bottom: 4px;
  padding-right: 4px;
}
#row1 {
  display: inline-flex;
}
#row2 {
  /*border: 2px solid blue;*/
  width: 320px;
}
#row3 {
  width: 320px;
  margin-left: 30px;
}
#heroimage {
  background-image: url(images2/warrior-anime-character-magic-mountain-lake-sky.png);
  width: 100%;
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#heroimage1 {
  background-image: url(images2/Screenshot_20231007-025848_YouTube.jpg);
  width: 100%;
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#heroimage2 {
  background-image: url(images2/movies.jpg);
  width: 100%;
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#heroimage3 {
  background-image: url(images2/Screenshot_20231007-123513_YouTube.jpg);
  width: 100%;
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#heroimage4 {
  background-image: url(images2/spiderman.jpg);
  width: 100%;
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#heroimage6 {
  background-image: url(images2/3b897aafff9e433e339910b9613bec66.jpg);
  width: 100%;
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#heroimage5 {
  background-image: url(images2/gpku\ va\ jiren.jpg);
  width: 100%;
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#heroimage7 {
  background-image: url(images2/Screenshot_20230801-103315_YouTube.jpg);
  width: 100%;
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#heroimage8 {
  background-image: url(images2/Screenshot_20230621-234800_eFootball.jpg);
  width: 100%;
  padding-top: 170px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#heroimage5:hover {
  border-radius: 0;
}
#heroimage1:hover {
  border-radius: 0;
}
#heroimage2:hover {
  border-radius: 0;
}
#heroimage3:hover {
  border-radius: 0;
}
#heroimage4:hover {
  border-radius: 0;
}
#heroimage6:hover {
  border-radius: 0;
}
#heroimage:hover {
  border-radius: 0;
}
#heroimage7:hover {
  border-radius: 0;
}
#heroimage8:hover {
  border-radius: 0;
}
#profile {
  display: inline-flex;
  margin-top: 7px;
}
#profile img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
#subfile {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  width: 78%;
  font-family: Roboto, arial, sans-serif;
}
.dot {
  width: 2px;
  height: 2px;
  margin-top: 4px;
  background-color: white;
  border-radius: 2px;
  margin-left: 15px;
}
#foot {
  margin-left: 50px;
}
/* for phones*/ 
@media only screen and (max-width: 600px) {
  header {
    width: 97.5%;
  }
  form {
    width: 90%;
  }
  input {
    width: 99%;
    height: 35px;
  }
  #maincontent {
    height: 100%;
    left: 135px;
    width: 80%;
  }
  #minicontent {
    width: 17.6%;
    margin-left: -20px;
    margin-top: -15px;
  }
  nav {
    width: 29%;
    height: 100%;
    margin-left: -8px;
  }
  #row2 {
    width: 170px;
  }
  #row3 {
    width: 170px;
    margin-left: 15px;
  }
  #foot {
    font-size: 6px;
    margin-left: 10px;
  }
  #subfile {
    font-size: 9px;
    width: 70%;
    margin-left: 1px;
    margin-top: 5px;
  }
  #profile img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
  }
  .row3 {
    display: none;
  }
  #search {
    margin-left: 1%;
    height: 28px;
    width: 45%;
    border-radius: 20px;
  }
  input {
    height: 25px;
    width: 99%;
  }
  #search form input::placeholder {
    font-size: 14px;
  }
  #searchicon {
    width: 14px;
    height: 14px;
    margin-left: 8px;
  }
  #searchiconbar {
    width: 16%;
  }
  #voicesearch {
    width: 15px;
    height: 15px;
    margin-left: 7px;
    margin-top: 7px;
  }
  #voice {
    height: 30px;
    width: 30px;
    margin-left: 7px;
  }
  #dot {
    width: 2px;
    height: 3px;
    margin-top: 2px;
  }
  #dotmenu {
    margin-left: 10px;
  }
  #signy {
    margin-left: 15px;
    width: 14%;
    height: 6%;
    margin-top: -2px;
  }
  #signy a {
    font-size: 10px;
    margin-left: 4px;
  }
  #signy img {
    height: 17px;
    width: 16px;
  }
  #signy div {
    padding: 3px 1px 3px 6px;
  }
  #heroimage1,
  #heroimage,
  #heroimage3,
  #heroimage4,
  #heroimage6,
  #heroimage7 {
    height: 1%;
    padding-top: 130px;
  }
  #herotext div {
    font-size: 8px;
    margin-top: -17px;
    margin-left: 86%;
  }
  #navfonhome,
  #navfon {
    font-size: 11px;
    margin-left: 13px;
  }
  .navfon {
    font-size: 11px;
    margin-left: 19px;
  }
  #speech {
    font-size: 11px;
    margin-left: 8px;
  }
  #navic {
    width: 15px;
    height: 15px;
  }
  #trend {
    width: 17px;
    height: 17px;
  }
  #signx {
    margin-left: 12px;
    margin-right: 50px;
    height: 25px;
    width: 80px;
  }
  #signx img {
    width: 15px;
    height: 15px;
    margin-left: -2px;
  }
  #signx a {
    font-size: 11px;
  }
  footer {
    font-size: 11px;
  }
  ul {
    margin-left: -40px;
  }
  #scrollmenu {
    margin-left: -15px;
    width: 95%;
  }
  li {
    font-size: 11px;
    height: 11px;
    padding: 4px 9px;
  }
  #li {
    margin-left: 9px;
  }
  #menubar {
    margin-left: -11px;
  }
  #menu {
    width: 15px;
    height: 1px;
    margin-top: 4px;
  }
  #Youtube {
    width: 20px;
    height: 14px;
    margin-left: 14px;
  }
  #imagebox div {
    font-size: 14px;
  }
  #sup {
    font-size: 10px;
  }
}
